.user-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.user-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}