/* CSS for quiz-detail.html */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#quiz-detail-container h1 {
    margin-top: 0;
}

#quiz-image {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.answer-options {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.answer-options button {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    text-align: left;
    font-size: 1em;
    color: #000;
    transition: background-color 0.3s, border-color 0.3s;
}

.answer-options button:hover:not(:disabled) {
    background-color: #e9e9e9;
    border-color: #ccc;
}

.answer-options button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

#author-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
}

.author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#author-info p {
    margin: 0;
    margin-right: 10px;
    font-style: italic;
}

#author-info span {
    font-weight: bold;

}

